extends layout

block content
  h1 Кандидаты
  table
    tr
      th Кандидат
      th Голоса
    each votes, name in votesCount
      tr
        td= name
        td= votes

  h1#error
  
  form(id="mainForm", method="post")
    select(name="candidateName")
      option(value='null', selected="selected") Выберите кандидата
      each votes, name in votesCount
        option(value=name)= name

    select(name="address")
      option(value='null', selected="selected") Укажите голосуещего
      each address in addresses
        option(value=address)= address

    button(type="submit") Send
